* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	
}

.head{
	display: flex;
	align-items: center;
}

.head a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.head a:hover{
	color: rgb(7, 7, 105);
}


.nav-bar {
	margin-top: 0px;
	padding: 5px;
	background-color: antiquewhite;
}
.nav-bar a {
	margin: 17px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.nav-bar a:hover{
font-size: 20px;
color: rgb(7, 7, 105);
}
h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 9px;
	cursor: pointer;
}
/* h2 a{
	text-decoration: none;
} */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	margin: 20px;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

input[type=text], input[type=email], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type=submit] {
	background-color:rgb(15,108,107) !important;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}


@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}
	
	.form {
		width: 400px;
	}
}
